
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid white;
    margin: 10px 10px;
    width: 800px;
    height: 570px;
}
.bookingHead{
    text-align: center;
    color: white;
}
.itemTable{
    border: 1px solid;
    border-collapse: collapse;
    color: white;
    margin: 50px;
}
.itemTable th{
    border: 1px solid;
    text-align: center;
    padding: 10px 15px;
}
.itemTable tr td{
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

.tHeahName{
    width: 70%;
}
.tHeahPrice{
    width: 50%;
}
.tHeahQuantity{
    width: 30%;
}