/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600;700&family=Merienda:wght@600;800&family=Unbounded:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DynaPuff:wght@600;700&family=Merienda:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/* font-family: 'DynaPuff', cursive;
font-family: 'Merienda', cursive;
font-family: 'Unbounded', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    
}
.navBarHeading{

}
.navBar{
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Climate Crisis', cursive;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-decoration:none;
    padding: 15px 50px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.headingText{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: rgb(0, 0, 0);
    justify-self:center;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px rgb(120, 120, 120);
    border-left: 8px solid  rgb(0, 0, 0);
    border-right: 8px solid  rgb(0, 0, 0);
    margin-left: 36rem;
    margin-bottom: 10px;
    margin-right: 35rem;
    padding: 1rem;

}


.bagIcon{
    color: white;
    background-color: rgb(0, 0, 0) ;
    color: #ffffff;
    /* size: 500px; */
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardInfo{
    
}
.cardImage{
    width: 277px;
    height: 263px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px 15px 0 0;
}
.card{
    background: rgb(255, 255, 255);
    width: 280px;
    height: 410px;
    margin: 20px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

}
.itemPrice{
    color: #000000;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
}
.cardHeading{
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;  
}
.cardData{
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.bagIcon:hover{
    color: rgb(224, 24, 255);
    background-color: rgb(0, 0, 0) ;
}
.navBarHeading:hover{
    color: rgb(224, 24, 255);
}
.card:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transform: scale(1.04);
}
/* .itemPrice:hover{
    cursor: pointer;
} */
.add{
    position: relative;
    left: 140px;
    top: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 20px;
    margin-left: 2px;
    padding: 5px;
}

.card input{
    display: inline;
    position: relative;
    top: 1px;
    height: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin-left: 10px;
}